In [ ]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

print("Length of list1:", len(list1))
print("Length of tuple1:", len(tuple1))
print("Length of set1:", len(set1))
print("Length of dict1:", len(dict1))

Length of list1: 4
Length of tuple1: 4
Length of set1: 4
Length of dict1: 4

Remember list,set,dictionary are mutable and tuple is immutable list,tuple elements can be reached by index
for dictionary it is not an option to reach by index the element key has to be known to reach
and for set the items cannot be reached directly but it is possible to iterate.

print the lengths of list1,tuple1,set1,dict1
print the first element of list1 and tuple1
print the value of lion key of dict1
change the 2nd position element of list1 to "rabbit"
try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
add "monkey" to list1
remove "rabbit" from list1
in dict1 the number of feet is written as value to each animal the fixh has wrong value just fix it.

In [3]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")

print(list1[0])
print(tuple1[0])

lion
lion

In [2]:
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

print(dict1["lion"])

4

In [11]:
list1[1] = 'rabbit'
print(list1)

['lion', 'rabbit', 'dog', 'fish']

In [12]:
tuple1[1] = 'rabbit'
tuple1


###ci da errore, perche l'oggetto 'tuple' non supporta l'assegnazione degli elementi.

TypeError: 'tuple' object does not support item assignment

In [8]:
list1 = ["lion", "monkey", "dog", "fish"]
list1.insert(1, "monkey")
list1[2] = "rabbit"
print(list1)

['lion', 'monkey', 'rabbit', 'dog', 'fish']

In [9]:
list1 = ['lion', 'monkey', 'rabbit', 'dog', 'fish']
list1.remove("rabbit")
print(list1)

['lion', 'monkey', 'dog', 'fish']

In [15]:
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}
dict1['fish'] = 0
print(dict1)

{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}