# Eserizio 3 Variable

### Creating variables for your name, age, and city of residence.
Using string concatenation to display a sentence about yourself using the above variables.
Modifying the variables to add a title (Mr. or Ms.) in front of your name.
Using the string format method to display the same sentence as in exercise 2.
Create a variable called "name" and assign a string value to it and â€œage" and assign an integer value to it, and Create a variable called "height" and assign a floating point value to it, and Create a variable called "is_student" and assign a boolean value to it.
Print the type of each of variables from exercise 5 using format method or f string.

In [29]:
name = "Alessio"
age = 23
city = "Rome"

In [30]:
sentence = name + " is " + str(age) + " years old and lives in " + city 
print(sentence)

Alessio is 23 years old and lives in Rome

In [31]:
title = "Mr."
name = title + " " + name

In [32]:
sentence = "{} is {} years old and lives in {}.".format(name, age, city)
print(sentence)

Mr. Alessio is 23 years old and lives in Rome.

In [33]:
name = "Alessio"
age = 23
height = 1.70
is_student = True

In [34]:
print("Type of name: {}".format(type(name)))
print("Type of age: {}".format(type(age)))
print("Type of height: {}".format(type(height)))
print("Type of is_student: {}".format(type(is_student)))

Type of name: <class 'str'>
Type of age: <class 'int'>
Type of height: <class 'float'>
Type of is_student: <class 'bool'>